<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">

    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>
        <%= title %>
    </h1>

    <ul>
        <% messages.forEach(message=> { %>
            <li>
                <p><strong>User:</strong>
                    <%= message.user %>
                </p>
                <p><strong>Message:</strong>
                    <%= message.text %>
                </p>
                <p><strong>Added:</strong>
                    <%= message.added.toLocaleString() %>
                </p>
            </li>
            <% }) %>
    </ul>

    <h2>Leave a Message</h2>

    <form method="POST" action="/">
        <!-- Input for author's name -->
        <label for="author">Name:</label>
        <input type="text" id="author" name="messageUser" required>
        <br><br>

        <!-- Input for message text -->
        <label for="message">Message:</label>
        <textarea id="message" name="messageText" rows="4" cols="50" required></textarea>
        <br><br>

        <!-- Submit button -->
        <button type="submit">Submit</button>
    </form>
</body>

</html>